body {
    font-family: 'Segoe UI';
    background: linear-gradient(to right, #dbeeff, #f0f8ff);
    margin: 0;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #004e89;
    margin-bottom: 30px;
}

img {
    display: block;
    margin: 0 auto 30px auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

fieldset {
    max-width: 700px;
    margin: auto;
    background-color: #ffffff;
    border: 2px solid #0077cc;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 18px rgba(67, 53, 53, 0.1);
}

legend {
    font-size: 1.4em;
    font-weight: bold;
    color: #0077cc;
    padding: 0 10px;
}

table {
    width: 100%;
    border-spacing: 10px;
}

td {
    vertical-align: top;
    padding-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1.5px solid #b0c4de;
    box-sizing: border-box;
    background-color: #f9fcff;
    transition: 0.3s;
}

input:focus,
textarea:focus {
    border-color: #0077cc;
    outline: none;
    background-color: #eef7ff;
}

#address {
    width: 500px;
    height: 100px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #776969;
    border-radius: 5px;
    resize: vertical;
    background-color: #ffffff;
}


input[type="radio"] {
    margin-right: 10px;
}

input[type="submit"] {
    background-color: #0077cc;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    cursor: pointer;
    float: right;
    font-size: 16px;
}